.app {
  min-height: 100vh;
  background: linear-gradient(to top, #fbf2d5 70%, white 100%);
}

.title {
  margin-bottom: 30px;
  text-align: center;
  color: #7fa99b;
}

.container {
  margin: 0 auto;
  width: 800px;
  padding: 70px 20px 40px 20px;
}
